*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

README_BACKUP_1564.md
README_BACKUP_17964.md
README_BASE_1564.md
README_BASE_17964.md
README_LOCAL_1564.md
README_LOCAL_17964.md
README_REMOTE_1564.md
README_REMOTE_17964.md
